:root {
  --blue: #00a2ff;
  --black: #000000;
  --white: #ffffff;
}

html, body {
  height: 100%; /* Garante que html e body ocupem a altura total */
  background-color: var(--blackground);
}

body {
  flex-direction: column; /* Empilha os itens verticalmente */
  min-height: 100vh; /* Altura mínima do corpo é 100% da viewport */
  height: 100%; /* Garante que html e body ocupem a altura total */
  height: 100%; /* Garante que html e body ocupem a altura total */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color);
}

/* Header */
.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Navbar */
.navbar {
  background: var(--black);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Menu desktop */
.menu {
  list-style: none;
  display: flex;
  gap: 50px;
}

.menu a {
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  transition: opacity 0.3s;
}

.menu a:hover {
  color: var(--blue);
}

/* Hamburger */
.hamburger {
  display: none;
  position: absolute;
  right: 20px;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: var(--white);
}

p
{
  text-align: justify;
  word-spacing: -2px;
  margin: 0 20px 50px 20px;
}

h2
{
  text-align: center;
  margin: 50px 20px 20px 20px;
}

h3
{
  text-align: center;
  margin: 50px 20px 50px 20px;
}

h4
{
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.btn {
    padding: 15px 20px; /* Espaçamento interno */
    border: none;
    border-radius: 5px; /* Cantos arredondados */
    font-size: 16px;
    cursor: pointer; /* Muda o cursor para uma mãozinha */
    text-decoration: none; /* Remove sublinhado de links */
    transition: background-color 0.3s ease; /* Transição suave */
    display: inline-block; /* Para links funcionarem bem */
    color: var(--white);
    background-color: var(--black);
  }

  .button-container {
    text-align: center;
    margin: 50px auto 50px auto;
  }

/* Estilo para o botão de "Saiba Mais" */
.saiba-mais {
    background-color: var(--black);
    color: var(--white);
}

/* Efeito ao passar o mouse (hover) */
.saiba-mais:hover {
    background-color: var(--blue);
    color: var(--black);
}

/* Estilo específico para o link-btn, se necessário */
.link-btn {
    background-color: var(--black); /* Preto */
}

.link-btn:hover {
    background-color: var(--blue); /* Azul mais escuro */
}

/* formacoes */
ol {
  margin: 0 30px 50px 30px;
  text-align: center;
  list-style-position: inside;
  padding-left: 0; /* Remove a margem esquerda padrão */
  flex: 1 1 0;
}

ol li {
  margin-bottom: 20px;
  text-align: center;
}

ol li p {
  margin: 5px 0 0 0;
  text-align: center;
}

ol li::marker {
  font-weight: bold;
}
ol li {
  font-weight: normal;
}

/* projetos-table */
table, td, th {
  margin: 30px;
  border: 1px solid;
  padding: 10px;
  position: static;
  flex: 1 1 0;
}

table {
  margin: auto 30px 60px 30px;
  border-collapse: collapse;
  text-align: center;
  position: static;
  flex: 1 1 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.table-container {
  overflow-x: auto;
}

.formulario-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 50px 20px;
}

/* Footer */
.footer {
  background: var(--black);
  color: var(--white);
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}


/* Mobile */
@media (max-width: 768px) {

  .menu {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background: var(--black);
    flex-direction: column;
    align-items: center;
    gap: 0;
    display: none;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    width: 100%;
    text-align: center;
    border-top: 1px solid #222;
  }

  .menu li a {
    display: block;
    padding: 16px 0;
  }

  .hamburger {
    display: flex;
  }
}

.light-theme {
  background: var(--white);
  color: var(--black);
}

.dark-theme {
  background: var(--black);
  color: var(--white);
}